// Color accent
$accent_color_01: #1D8CBE;
$accent_color_02: #FF9226;
$accent_color_03: #1DBF8D;
$accent_color_04: #93629F;

$accent_colors: (
  accent-01: $accent_color_01,
  accent-02: $accent_color_02,
  accent-03: $accent_color_03,
  accent-04: $accent_color_04,
);

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-input: #f3f3f3;

$color__text-screen: $accent_color_01;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $accent_color_01; //royalblue
$color__link-visited: $accent_color_01; //purple
$color__link-hover: rgba($accent_color_01, .8); //midnightblue
$color__text-main: #616161;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color_background-secondary: #434343;
$color_heading-color: #141414;
$color_accent-gray: #343434;
$color_bg_secondary_nav: #EDEDED;
$color_border_pdf_list: #707070;