a {
	@extend %transit;
	color: $color__link;

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&[href^=tel] {
		text-decoration: none;
	}

	&:hover,
	&:active {
		text-decoration: none;
		outline: 0;
	}
}
