.site-header.header-02 {
    #secondary-header {
        background-color: $color_bg_secondary_nav;
    
        .navbar-nav .nav-link {
            padding-top: 22px;
            padding-bottom: 22px;
        }
    
        .navbar-nav-phone {
            font-size: 1.5625rem;
            margin: 0;
        }
    }
    
    .sobercheck-main-nav {
        .navbar-nav {
            .nav-item {

                @for $i from 1 to 5 {
                    &.accent-color-#{$i} {
                        &.active .nav-link {
                            background-color: map-get($accent_colors, 'accent-0#{$i}' );
                        }
    
                        .nav-link {
                            &:hover, &::before {
                                background-color: map-get($accent_colors, 'accent-0#{$i}' );
                            }
                        }
                    }
                }

                &.active .nav-link {
                    color: $white;
                    font-weight: bold;
                }
            }

            .nav-link {
                padding: 17px 50px 15px;
                text-transform: uppercase;
                font-weight: 500;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;

                &:hover {
                    color: $white;
                }

                &::before {
                    transform: none;
                }
            }
        }
    }
}