.admin-bar {
    .site-header--sticky {
        @include media-breakpoint-up(xs) {
            top: 32px;
        }

        &.headroom--top {
            @media only screen and (max-width: 768px) {
                top: 46px;
            }
        }

        &.headroom--not-top {
            @media only screen and (max-width: 768px) {
                top: 46px;
            }

            @include media-breakpoint-down(xs) {
                top: 0;
            }
        }
    }
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.site-header--sticky {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;

    &.headroom--pinned,
    &.headroom--unpinned {
        transform: none;
    }

    &.headroom--not-top {
        @include media-breakpoint-down(sm) {
            box-shadow: 0 5px 10px rgba($black, .16);
        }
    }
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}