.admin-bar {
    .site-header--sticky {
        &.headroom--not-top {
            @include media-breakpoint-up(sm) {
                top: 32px;
            }
        }
    }
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.site-header--sticky {
    &.headroom--pinned,
    &.headroom--unpinned {
        transform: none;
    }

    &.headroom--not-top {
        position: fixed;
        z-index: 10;
        right: 0;
        left: 0;
        top: 0;
    }
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}