.footer-info {
    background-color: $color_background-secondary;
    color: $white;
    font-size: 15px;
    padding: 16px 0;

    p:last-child {
        margin-bottom: 0;
    }

    .nav-social {
        height: 100%;
    }
}

.sc-footer-cta {
    color: $white;
    padding: 81px 0;
    text-align: center;

    h3 {
        color: $white;
        line-height: 46px;
        margin-bottom: 25px;

        @include media-breakpoint-down(sm) {
            font-size: 23px;
            line-height: 33px;
        }
    }

    .btn {
        @extend %btn-mobile;
        font-size: 14px;
        padding: 10px 28px;
    }
}

.footer-widgets {
    padding: 68px 0 30px;
}

@media ( max-width: 991px ) {
    .copyright {
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .copyright img {
        margin-right: 10px;
    }
}