.overlay {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: .75;
    }

    @for $i from 1 to 100 {
        $value: 10 * $i;
        &-#{$value}::before {
            opacity: #{$value / 100};
        }
    }
}
