.single-post {
	.entry-title {
		margin-bottom: 27px;
    }
    
    .entry-content {
        margin-top: 50px;
    }

    .post-thumbnail {
        @extend %full-width-sm;
        margin-top: 27px;
    }
}